* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

.container {
  width: 90%;
  max-width: 2000px;
  margin-inline: auto;
}

.MuiPaper-root {
  max-width: 90% !important;
  width: 90% !important;
  height: 70vh !important;
}
